---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="关于我"
	description="咪"
	pubDate={new Date("2026-04-09")}
	heroImage={AboutHeroImage}
>
	<p>
		一个普通人咪~
	</p>
</Layout>
