---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>欢迎来到咱的个人博客~</h2>

			<hr />

			<h4>这里有什么？</h4>
			<p>这里会有咱的碎碎念、一些技术分享文章之类的东西</p>
			<p>
				每天（会鸽）还有每周（一定）会更新一篇文章，可以通过RSS订阅咱的文章咪~
				<br />
				<a href="https://blog.valency.top/rss.xml"
					>https://blog.valency.top/rss.xml</a
				>
			</p>
		</main>
		<Footer />
	</body>
</html>
